/* * {
  outline: 1px solid red;
} */

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  font-family: 'Kosugi Maru', sans-serif;
  font-style: normal;
  color: black;
}


.main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#title, #dice, #game, #nextStage, #game, #result {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background: linear-gradient(0deg, #31e4ff, #003e94);
  overflow: hidden;
}

#title {
  position: relative;
  flex-direction: column;
}

#quiz {
  flex-direction: row;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-dragon {
    background: linear-gradient(0deg, #7DD9DD 0 50%, #488ABB 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Anton', 'Kosugi', sans-serif;
    font-size: 90px;
    text-align: center;
    -webkit-text-stroke: 2.5px #000;
}

.font-saiyan {
  font-family: "Saiyan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: yellow;
  -webkit-text-stroke: 10px black;
  paint-order: stroke;
}

.font-guessr {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
  -webkit-text-stroke: 20px #CF142B;
  paint-order: stroke;
}

.momotetu50 {
  height: 60px;
  vertical-align: middle;
}

.momotetu40 {
  height: 40px;
  vertical-align: middle;
}

.title_tesu {
  height: 100px;
  width: auto;
}

.fs100 {
  font-size: 100px;
}

.fs50 {
  font-size: 50px;
}

.fs30 {
  font-size: 30px;
}

.menu-button {
  font-family: "Saiyan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: yellow;
  min-width: 300px;
  text-align: center;
  -webkit-text-stroke: 5px black;
  paint-order: stroke;
  cursor: pointer;
  border: 5px solid orange;
  border-radius: 20px;
  margin: 10px;
  padding: 10px 40px;
  background-color: lightcyan;
  display: inline-block;
  line-height: 1;
  vertical-align: top;
}

.nestStage_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextStage_word {
  font-size: 100px;
  font-weight: bold;
}

.nextStage_ball {
  height: 100px;
  width: 100px;
  font-size: 100px;
}

.ball {
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1;
  margin: 0 10px;
  box-shadow: 0 4px 16px #fc3c 0;
  border: 2px solid #fff8;
}

.ball.dark {
  color: lightcoral;
  background:
    radial-gradient(circle at 10px 10px, #fff 0%, #fff6 40%, transparent 70%),
    radial-gradient(circle at 60% 60%, #e6c200 0%, #ccaa00 70%, #b38f00 100%);
}

.ball.light {
  color: orange;
  background:
    radial-gradient(circle at 10px 10px, #fff 0%, #fff6 40%, transparent 70%),
    radial-gradient(circle at 60% 60%, #fff176 0%, #ffeb3b 70%, #fdd835 100%);
}


.ball.glow {
  box-shadow:
	0 0 60px 30px rgba(255, 223, 0, 0.6),
	0 4px 16px #fc3c;
}


.ball.glow {
  animation: glowBrightness 4s infinite;
}

@keyframes glowBrightness {
  0%, 100% {
    filter: brightness(1.0);
  }
  50% {
    filter: brightness(1.5);
  }
}


#header {
  width: 500px;
  margin: 5px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-tutorial {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.ball_header {
  height: 50px;
  width: 50px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ball-tutorial {
  height: 50px;
  width: 50px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#question {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#map_container, #bukken_container, #stview_container {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.bukken-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stview-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stview-layer {
  position: relative;
  width: 100%;
  height: 100%;
}

.prefecture {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 160px;
  height: 60px;
  color: white;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.map-inner {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 300px;
  height: 60px;
  overflow: hidden;
  border: 2px solid #333;
  margin: 10px 0;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  z-index: 1;
}

.shutter {
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    #ccc 0px,
    #ccc 18px,
    #aaa 26px,
    #aaa 30px
  );
  z-index: 9;
  transition: transform 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.shutter.open {
  transform: translateY(-100%);
  pointer-events: none;
}

.open-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.deck {
  width: 900px;
  height: 100%;
  background: orange;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
}

.select-card {
  font-family: "Saiyan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: yellow;
  text-align: center;
  -webkit-text-stroke: 5px black;
  paint-order: stroke;
  cursor: pointer;
  line-height: 1;
  font-size: 50px;
}

.cards {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px 0;
}
.card {
  width: 120px;
  height: 200px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08); 
  position: relative;
  perspective: 600px;
  transition: transform 0.15s, box-shadow 0.15s, border-color 0.15s, opacity 0.2s, background 0.2s;
  border: 2px solid #444;
  color: black;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  margin: 0 10px;
  background: transparent;
}

.card.selected {
  transform: translateY(-20px);
  box-shadow: 0 6px 24px rgba(0,0,0,0.20);
  z-index: 1;
}

.card-inner {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: relative;
  transition: transform 0.5s cubic-bezier(0.4,0.2,0.2,1);
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
}

.card.faceup .card-inner {
  transform: rotateY(0deg);
}
.card:not(.faceup) .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  top: 0; left: 0;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-front {
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-image: linear-gradient(315deg, lightblue, white 50%);
  z-index: 2;
}

.ui-container {
  height: 300px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
  gap: 20px;
}

.score {
  background: rgb(240,240,220);
  flex: 1;
  flex-direction: column;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  font-size: xx-large ;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.table-score {
  width: 500px;
}

th.score {
  white-space: nowrap;
  width: 200px;
  padding: 0 10px;
  text-align: right;
}

td.score {
  white-space: nowrap;
  text-align: right;
}

.overlay{
  position: fixed;
  font-size: 300px;
  font-weight: 900;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  pointer-events: none;
}

.clickme {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 20;
}

#tutorial {
  position: absolute;
  width: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 30px;
  background:  linear-gradient(180deg, #31e4ff, #003e94) fixed;
  border: 10px solid white;
  border-radius: 25px;
  z-index: 99;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.howToPlay {
  font-size: 80px;
  font-weight: bold;
}

.radar {
  z-index: 9;
  pointer-events: none;
  border-radius: 10%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.radar_grid,
.radar_scanner,
.radar_case {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radar_grid {
  pointer-events: none;
  background-color: #2802 ;
  background-image:
    repeating-linear-gradient(to bottom, #080 0, #080 1px, transparent 1px, transparent calc(100% / 10)),
    repeating-linear-gradient(to right, #080 0, #080 1px, transparent 1px, transparent calc(100% / 10));
  z-index: 1;
}

.radar_scanner {
  background-image: conic-gradient(transparent 0deg 80%, #282);
  animation: scan 2s linear infinite;
  transform-origin: center;
  z-index: 2;
  pointer-events: none;
}

@keyframes scan {
  to {
    transform: rotate(360deg);
  }
}

.radar_case {
  background-image: radial-gradient(
    #0000 63%,
    #555 64%, #fff 68%, #707070 70%,
    #fff 71%, #fff 72%
  );
  z-index: 3;
}

.frame {
  border: 5px solid rgb(170,155,130);
  border-radius: 20px;
  border-spacing: 20px 5px;
}

table.items {
  background: rgb(240,240,220);
  border-collapse: separate;
  font-size: 25px;
}

table.w48{
  width: 480px;
}

td {
  padding: 0 10px 0 0;
}

td.item {
  white-space: nowrap;
}

td.kanji {
  white-space: nowrap;
  text-align:right;
}

.judge {
  background: rgb(240,240,220);
  padding: 30px;
  font-size: 40px;
  text-align: center;
}

.align-bottom {
  display: flex;
  align-items: flex-end;
}

.align-center {
  text-align: center;
}

.font-small {
  font-size: 20px;
  line-height: 0.6;
}

.font-bold {
  font-weight: bold;
}

#result {
  font-family: "Saiyan Sans", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:  
    linear-gradient(180deg, #31e4ff, #003e94) fixed,
    url("/dragon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.result-ball-container {
  display: flex;
  flex-direction: row;
  height: 150px;
  margin: 0 auto;
}

.result-ball {
  width: 100px;
  height: 100px;
  font-size: 70px;
  line-height: 100px;
}

.result-ball-upper {
  margin-bottom: auto;
}

.result-ball-lower {
  margin-top: auto;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
  margin: 0 auto 0 0;
}

.mo {
  width: 50px;
  height: 50px;
}

.credit {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
  font-size: 0.6em;
}

ul {
  margin: 0;
}