/*for SP*/
@media screen and (max-width:768px) {
  .fontS {font-size: 11px;}
  .fontM {font-size: 12px;}
  .fontL {font-size: 24px;}
  .fontXL {font-size: 64px;}
}

/*for tablet*/
@media screen and (min-width:768px) and (max-width:1024px) {
  .fontS {font-size: 14px;}
  .fontM {font-size: 15px;}
  .fontL {font-size: 27px;}
  .fontXL {font-size: 64px;}
}

/*for PC*/
@media screen and (min-width:1024px) {
  .fontS {font-size: 24px;}
  .fontM {font-size: 28px;}
  .fontL {font-size: 48px;}
  .fontXL {font-size: 64px;}
  .title-word {font-size: 128px;}
  .title-tetu {height: 128px; width: auto;}
}


html {
  color: darkslategray;
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgoldenrodyellow;
}

.base {
  position: relative;
  aspect-ratio: 2 / 1;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  width: auto;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Kosugi Maru", sans-serif;
}


.font-saiyan {
  font-family: "Saiyan Sans", "Kosugi Maru", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: yellow;
  -webkit-text-stroke: 0.15em black;
  paint-order: stroke;
}

.font-guessr {
  font-family: "Open Sans", "Kosugi Maru", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
  -webkit-text-stroke: 0.18em #CF142B;
  paint-order: stroke;
}


.ball {
  display: flex;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #fff8;
}

.ball.dark {
  color: lightcoral;
  background:
    radial-gradient(circle at 30% 30%, #fff 0%, #fff6 40%, transparent 70%),
    radial-gradient(circle at 60% 60%, #e6c200 0%, #ccaa00 70%, #b38f00 100%);
}

.ball.light {
  color: orange;
  background:
    radial-gradient(circle at 30% 30%, #fff 0%, #fff6 40%, transparent 70%),
    radial-gradient(circle at 60% 60%, #fff176 0%, #ffeb3b 70%, #fdd835 100%);
}

.ball.glow {
  box-shadow:
	0 0 60px 30px rgba(255, 223, 0, 0.6),
	0 4px 16px #fc3c;
}

.ball.glow {
  animation: glowBrightness 4s infinite;
}

@keyframes glowBrightness {
  0%, 100% {
    filter: brightness(1.0);
  }
  50% {
    filter: brightness(1.5);
  }
}

.ball-header {
  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(180, 240, 150, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.row {
  margin: 0 auto;
  display: flex;
  gap: 0.5rem;
}

.credit {
  position: absolute;
  top: 0;
  right: 0;
}

.img-credit {
  height: 0.6em;
}

.img-setumei {
  height: 2rem;
}

.frame {
  border: 5px solid rgb(170,155,130);
  border-radius: 20px;
  border-spacing: 0.5em 0.1px;
  padding: 0.2em 0.3em;
}

table.items {
  background: rgb(240,240,220);
  border-collapse: separate;
  font-size: 1.3em;
}


td.item {
  width: 10em;
  white-space: nowrap;
}

td.kanji {
  width: 10em;
  white-space: nowrap;
  text-align:right;
}

.center {
  text-align: center;
}

.middle {
  align-items: center;
  vertical-align: middle;
}

.msg {
  max-width: 80%;
  padding: 0.2em;
  margin: 0 auto;
  background: rgb(240,240,220);
}

.chapter {
  font-size: 0.4em;
  font-weight: bold;
  margin: 0 auto;
}

.text {
  padding: 0.5em 0.2em;
  font-size: 0.3em;
}

.color-debug {
  background: lightpink;
}

.color-game{
  background: lightgreen;
}

.header {
  display: flex;
  gap: 1rem;
  margin: 0.5rem auto;
}


/* 問題欄 */

.questions {
  display: flex;
  height: auto;
  margin: 0.5rem 0;
  background: pink;
}

.question {
  position: relative;
  display: flex;
  flex: 1;
  aspect-ratio: 1 / 1 ;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  overflow: hidden;
}

.shutter {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    #ccc 0px,
    #ccc 18px,
    #aaa 26px,
    #aaa 30px
  );
  z-index: 9;
  transition: transform 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.shutter.open {
  transform: translateY(-100%);
  pointer-events: none;
}

.shutter-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}


.controls{
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0 1em;
  gap: 0.5em;
  background: pink;
}

.deck {
  width: 50em;
  background: yellow;
}

.score {
  flex: 1;
  background: lightyellow;
  text-align: center;
}

.score table {
  display: inline-table;
  width: auto;
  margin: 0 auto;
}

.score table th {
  text-align: right;
  padding: 0 1rem;
}

.score table td {
  text-align: center;
  padding: 0 1rem;
}

.debug {
  position: relative;
  font-size: 1.3em;
  flex: 1;
  background: lightpink;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  align-items: center;
}

.station-container{
  display: flex;
  gap: 0.5em;
  margin: 0.5em 0;
}

.debug-arrow {
  font-size: 3em;
  padding: 0 0.1em;
  color:limegreen;
  border-radius: 10px;
}

.selected-station {
  width: 5em;
  font-size: 3em;
  background: white;
  border-radius: 10px;
}

.select-ken {
  font-size: 1.5em;
}

.upload {
  position: relative;
  flex: 1;
  background: lightpink;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  align-items: center;
  background: darkmagenta;
}

.upload-onegai {
  font-size: 1.3em;
  text-align: center;
  color: white;
}

.upload-msg {
  padding: 1em 1em;
  text-align: left;
  color: white;
}

#upload-input {
  font-size: 1em;
  width: 20em;
}

.count {
  color: antiquewhite;
  background: #2F4F4F80;
  position: absolute;
  top: 70%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  gap: 0.2em;
}

.ball-count {
  width: 1em;
  height: 1em;
  font-size: 1em;
}


.emojiIcon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.2em;
  font-size: 2em;
}

table.latlng-table {
  font-size: 4em;
}

.start-container {
  display: flex;
  margin: 0 10%;
  gap: 10px;
}

.start-area {
  flex: 1;
  padding: 0 20px 20px 20px;
}

.start-button {
  font-size: 2rem;
  cursor: poi nter;
  border: 0.2em solid orange;
  border-radius: 0.4em;
  margin: 0.5em auto;
  padding: 0.1em 1em;
  background-color: lightcyan;
  display: inline-block;
}

.dice {
  overflow: hidden;
  position: relative;
  flex: 1;
  background: greenyellow;
  display: flex;
  margin: 0.5em 0.5em;
  padding: 0;
}


/* カード */
.cards {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.card {
  width: 120px;
  height: 200px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08); 
  position: relative;
  transition: transform 0.15s, box-shadow 0.15s, border-color 0.15s, opacity 0.2s, background 0.2s;
  border: 1px solid #444;
  color: black;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  margin: 0 10px;
  background-image: linear-gradient(315deg, lightblue, white 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.card:hover,
.card.selected {
  transform: translateY(-20px);
  box-shadow: 0 6px 24px rgba(0,0,0,0.20);
  z-index: 1;
}


.judge {
  width: 100%;
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: lightblue;
}

.font-small {
  font-size: 20px;
  line-height: 0.6;
}

.align-bottom {
  display: flex;
  align-items: flex-end;
}

.content-center {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.result {
  width: auto;
  height: 100vh;
  position: relative;
  flex-direction: column;
  display: flex;
  margin: 0.5em 0.5em;
  padding: 0;
  font-family: "Saiyan Sans", sans-serif;
  overflow: hidden;
  align-items: center;
  background:
    linear-gradient(0deg, #31e4ff80, #003e9480) fixed,
    url("/dragon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.result-ball-container {
  display: flex;
  flex-direction: row;
  height: 150px;
  margin: 0 auto;
}

.result-ball {
  width: 100px;
  height: 100px;
  font-size: 70px;
  line-height: 100px;
}

.result-ball-upper {
  margin-bottom: auto;
}

.result-ball-lower {
  margin-top: auto;
}

.reel {
  width: 200px;
  height: 100px;
  overflow: hidden;
  border: 2px solid #000;
  font-size: 32px;
  text-align: left;
  position: relative;
  background: #fff;
  margin: 0 auto;
}
.reel-inner {
  position: absolute;
  top: 0;
  width: 100%;
}
.reel-inner div {
  height: 100px;
  line-height: 100px;
}




.center {
  text-align: center;
}
